<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">The Music App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- Pengguna Biasa -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chart</a>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="{% url 'playlist' %}">Kelola Playlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Langganan Paket</a>
            </li>
            
            <!-- Jika Premium -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Kelola Downloaded Songs</a>
            </li> -->

            <!-- Jika Podcaster -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Kelola Podcast</a>
            </li> -->

            <!-- Jika Artist/Songwriter -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Kelola Album & Songs</a>
            </li> -->

            <!-- Jika Label -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Kelola Album</a>
            </li> -->

            <!-- Jika Artist/Songwriter/Label -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Cek Royalti</a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Registrasi</a>
            </li>
        </ul>
    </div>
</nav>
